@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #333;
  --red-color: ##ff0040;
  --dark-color: #eeedeb;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: var(--red-color);
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: bold;
  letter-spacing: 1.2px;
}
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  border-radius: 10px;
  color: #fff;
  padding: 0.5rem 1.5rem;
}
.btn-light {
  background: var(--light-color);
}
.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}
.btn:hover {
  opacity: 0.9;
}
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}
.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
}
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.l-heading {
  font-size: 3rem;
}
.list li {
  color: black;
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

/* .list li a:hover {
  color: black;
  /* color: var(--primary-color) !important; 
} 
*/

/* Inner page grid container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
}

/* Navigation */
#main-nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 1fr;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 50px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
}

#main-nav ul li a:hover {
  color: red;
  letter-spacing: 3px;
  transition: 0.5s;
}

/* Showcase */
#showcase {
  color: rgb(255, 254, 254);
  background: #22044e;
  padding: 2rem;
  position: relative;
}

#showcase:before {
  content: "";
  position: absolute;
  /*  background-color: #f7f7f8;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Home Articles */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

/* Footer */
#main-footer {
  color: #222121;
}
#main-footer img {
  width: 150px;
}
#main-footer a {
  color: #fff;
}
#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}
#main-footer .footer-container > *:last-child {
  background: #22044e;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
}
#main-footer .footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
#main-footer .footer-container input[type="submit"] {
  width: 90%;
}

.navbar.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-link {
  color: #666;
}

.navbar.scrolled .nav-link:hover {
  color: #333;
}
.white-color {
  color: #fff;
}
/* copy right  */
